.wrap {
  padding-top: 32px;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;

  :global {
    .add-btn-group {
      margin: 20px 0;

      .item {
        margin-right: 32px;

        button {
          color: #75c8ff;
          background-color: #fff;
          border-color: #75c8ff;
        }
      }
    }
  }

  .cardTitle {
    height: 46px;
    line-height: 46px;
    margin-bottom: 20px;
    background: #F5FAFFFF;
    padding: 0 12px;

    .del {
      float: right;
      color: #4AACF7FF;
      cursor: pointer;
    }
  }

  .cardHead {
    margin-bottom: 25px;
    min-height: 40px;
    display: flex;

    .cardHead-st {
      line-height: 40px;
      > span {
        margin-right: 10px;
      }
    }

    .cardHead-ed {
      margin-left: 15px;
      flex: 308px 0 0;
      height: 40px;
      line-height: 40px;

      .txt {
        float: left;
      }

      > span {
        margin-right: 10px;
      }

      .i {
        color: #FF6F28FF;
        margin-right: 5px;
      }

      .InputGroup {
        float: left;
        margin-left: 14px;
      }
    }

    .cardHead-car {
      flex: 1;
      text-align: right;

      .btn {
        width: 88px;
        margin-left: 10px;
      }
    }
  }

}

.detail {
  min-height: 400px;
  padding-top: 32px;
  position: relative;

  :global {
    .back-select-tip {
      position: absolute;
      right: 0;
      top: -49px;
      cursor: pointer;
    }

    .ant-input {
      width: 100px;
    }

    .ant-table .ant-table-thead > tr > th {
      text-align: left !important;
    }

    .ant-table .ant-table-tbody > tr > td {
      text-align: left !important;
    }

    h3 {
      font-size: 14px;
      margin-top: 24px;
    }

    ul {
      margin: 0;
      padding: 0;
      margin-top: 10px;

      li {
        list-style: none;
        line-height: 2;

        .title {
          color: #999;
        }

        .content {
          color: #333;
        }
      }
    }

    .btn-group {
      margin-top: 10px;

      button {
        margin-right: 10px;
        padding: 0 40px;
      }
    }
  }
}

.modalContent {
  display: flex;
  justify-content: center;
}

.table {
  :global {
    .delete-btn {
      cursor: pointer;
    }
  }
}

.curtomerCardwrap {
  position: relative;

  .curtomerCard {
    position: absolute;
    top: -28px;
    right: 30px;

    .btn {
      width: 120px;
      margin-left: 24px;
    }
  }

  .footerBtn {
    margin-top: 10px;
    padding-bottom: 40px;

    .btn {
      width: 88px;
      margin-right: 32px;
    }
  }
}

.carItemw {
  .carItem {
    width: 269px;
    height: 112px;
    border: 1px solid #F2F2F2FF;
    display: flex;
    align-items: center;
    cursor: pointer;

    .img {
      flex: 76px 0 0;
      height: 76px;
      margin-left: 18px;
      border: 1px solid #F2F2F2FF;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }

    .name {
      flex: 1;
      padding: 0 14px;

      p {
        color: #333333FF;
        font-size: 16px;
        margin-bottom: 10px;
        font-weight: bold;
      }

      span {
        color: #333333FF;
      }
    }
  }
}

.curtomerCardText {
  margin-right: 10px;
  color: #F9A14DFF;
  font-size: 12px;
}
